<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/pokemonView.css">
  <link rel="stylesheet" href="/styles/typesNavbar.css">
  <script src="/modules/observer.js" defer></script>
  <script src="/modules/vanilla-tilt.js" defer></script>
  <%-include("partials/favicon")%>
</head>
<body>
  <%-include("partials/parallax")%>

  <div class="navbar">
    <%-include("partials/navbar")%>
    <section class="types-navbar">
      <% types.map((type) => { %>
        <%-include("partials/type", {type: type})%>
      <% }) %>
    </section>
  </div>

  <section class="index-main-content">
    <div class="all-pokemon-view">
      <% pokemons.map((pokemon) => { %>
        <%-include("partials/pokemon", {pokemon: pokemon})%>
      <% }) %>
    </div>
  </section>

</body>
</html>